@keyframes slogan {
  0% {
    opacity: 1; /* 슬로건이 완전히 보임 */
  }
  50% {
    opacity: 0; /* 슬로건이 완전히 사라짐 */
  }
  100% {
    opacity: 1; /* 슬로건이 다시 완전히 보임 */
  }
}

/* 프레임과 줄 전체 */
.frameBox {
  min-width: 650px;
  width: 100%;
  max-width: 100vw;
  display: flex;
  position: relative;
}

/* 프레임 줄 */
.frameLine {
  position: relative;
  background-image: url("../../../public/images/여러줄.svg");
  width: 400px;
  height: 600px;
  color: black;
  z-index: 2;
  top: -300px;
  display: flex;
  transform: translate(50%);
}
/* 프레임 */
.frameImg {
  position: absolute; /* 겹치기 위해 절대 위치 사용 */
  background: url("../../../public/images/대형프레임.svg") no-repeat;
  width: 600px;
  height: 460px;
  transform: translate(5%, -10%) scale(0.6); /* 초기상태 */
  transition: 0.8s ease;
  z-index: 5;
}
.frameTitle {
  color: white;
  font-size: 30px;
}
/* 글자 */
.frameText {
  position: absolute; /* 부모 요소를 기준으로 위치 설정 */
  color: white;
  top: 30%; /* 부모 요소의 가운데에 배치 */
  left: 50%; /* 부모 요소의 가운데에 배치 */
  transform: translate(4%, -50%); /* 가운데 정렬을 위한 변환 */
  font-size: 70px;
}
/* 해시태그 */
.frameHash {
  position: absolute;
  color: #71c4e0;
  top: 30%;
  left: 50%;
  transform: translate(-10%, 100%);
  font-size: 25px;
}
/* 증명사진 */
.framePhoto {
  background-image: url("../../../public/images/조다솜1.jpg");
  width: 430px;
  height: 500px;
  transform: translate(-13%, -20%) scale(0.4);
}
/* 슬러건 */
.slogan {
  position: absolute;
  color: white;
  transform: translate(55%, -640%) scale(1.6);
  font-size: 25px;
  animation: slogan 3s ease-in-out infinite;
}

/* .howIWork 프레임 */
.howIWork {
  position: absolute; /* 겹치기 위해 절대 위치 사용 */
  background: url("../../../public/images/세로 프레임.svg") no-repeat;
  width: 600px;
  height: 500px;
  transform: translate(33%, 20%) scale(1.67); /* 초기상태 */
  transition: 0.8s ease;
  z-index: 0;
  color: white;
}

.howStory {
  transform: translate(50px, 20%);
}

.howStory p {
  transform: translate(-20px, -45px);
  margin-bottom: 20px;
  text-wrap: wrap;
  max-width: 250px;
  margin: 20px;
}

.howStory .highlight {
  color: #71c4e0; /* 강조하고 싶은 단어에 금색 적용 */
}
